ul{
  line-height: 1.5;
}
p{
  line-height: 1.7;
}
a{
  text-decoration: none;
  color: $color;
  &:hover{
    color: $altColor;
  }
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.italic{
  font-style: italic;
}
.bold,
strong,
b{
  font-weight: $fontWeight + 300;
}
.unstyled{
  margin: 0;
  padding: 0;
}
.unstyled-items{
  ul,
  ol,
  p{
    @extend .unstyled;
  }
}
body{ //wrapper so it overwrite columns floats
  .left{
    float: left;
  }
  .right{
    float: right;
  }
}
img{
  max-width: 100%;
}
