html,
body{
  height: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: $font;
  color: $color;
  font-weight: $fontWeight;
}
main{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: white;
}
.center{
  padding: $padding $padding/2;
}
.sidebar{
  padding-top: $padding;
  overflow: hidden;
  h3{
    margin-top: 0;
  }
}
.comments{
  margin-top: $padding * 2;
  text-align: center;
}
.category-title:first-letter{
  text-transform: uppercase;
}
