---
layout: default
title: Daniel Husar
---

<div id="page-home">

  {% include header.html %}

  <div class="center">
    <div class="row">

      <div class="col-md-9 right posts">

        <!-- Posts loop -->
        {% for post in paginator.posts %}
          {% include post.html post=post %}
        {% endfor %}

        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
          <div class="pagination">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
                <a href="/" class="previous">Predosla</a>
              {% else %}
                <a href="/{{site.paginate_subpath}}/{{ paginator.previous_page }}" class="previous">Predosla</a>
              {% endif %}
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
              <a href="/{{site.paginate_subpath}}/{{ paginator.next_page }}" class="next">Dalsia</a>
            {% endif %}
          </div>
        {% endif %}

      </div>

      <div class="col-md-3 sidebar">
        {% include categories.html %}
      </div>

    </div>
  </div>

</div>
