---
layout: default
title: Daniel Husar
---

<div id="page-home">

  {% include header.html active="uvod" %}

  <div class="center">
    <div class="row">

      <div class="col-md-9 right posts">

        <!-- Posts loop -->
        {% for post in paginator.posts %}
          {% include post.html post=post %}
        {% endfor %}

        <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
          <div class="pagination row">
            <div class="col-xs-4 prev">
              {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                  <a href="/">&#10094; Novšie</a>
                {% else %}
                  <a href="/{{site.paginate_subpath}}/{{ paginator.previous_page }}">&#10094; Novšie</a>
                {% endif %}
              {% endif %}
            </div>
            <div class="col-xs-4 numbers">Strana: {{ paginator.page }} z {{ paginator.total_pages }}</div>
            <div class="col-xs-4 next">
              {% if paginator.next_page %}
                <a href="/{{site.paginate_subpath}}/{{ paginator.next_page }}">Staršie &#10095;</a>
              {% endif %}
            </div>
          </div>
        {% endif %}

      </div>

      <div class="col-md-3 sidebar">
        {% include categories.html %}
      </div>

    </div>
  </div>

</div>
