.btn {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
  border: none;
  background-image: none;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ccc;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  color: $color;
  font-size: .9em;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  white-space: nowrap;
  font-family: $font;
  font-weight: $fontWeight;
  *zoom: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  &.disabled,
  &[disabled]{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  &:hover{
    border-color: #B4B4B4;
    color: $color;
  }
  &.btn-primary{
    background-color: #428BCA;
    border-color: #428BCA;
    color: white;
  }
  &:active,
  &.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}
