@for $i from 1 through $cols {
  .col-xs-#{$i},
  .col-sm-#{$i},
  .col-md-#{$i},
  .col-lg-#{$i} {
    position: relative;
    min-height: 1px;
    padding-left: $padding/2;
    padding-right: $padding/2;
  }
  .col-xs-#{$i} {
    @include cols($i);
  }
}

.row{
  @extend .cf;
  margin-left: -$padding/2;
  margin-right: -$padding/2;
  > * {
    margin-top: $padding;
  }
  &.no-spacing > *{
    margin-top: 0;
  }
}
