<header class="hero">
  <div class="center">
    <div class="me row">
      <div class="name">
        <span>Daniel</span>
      </div>
      <div class="photo">
        <a href="/"><img src="/img/me.png" alt="fotka" class="icon"></a>
      </div>
      <div class="surname">
        <span>Husár</span>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/" class="{% if include.active == 'uvod' %}active{% endif %}">Úvod</a></li>
        <li><a href="/archiv/" class="{% if include.active == 'archiv' %}active{% endif %}">Archív</a></li>
        <li><a href="/autor/" class="{% if include.active == 'autor' %}active{% endif %}">Autor</a></li>
      </ul>
    </nav>
  </div>
</header>
