.tags{
  padding: 0;
  margin: 0;
  @extend .cf;
  .tag{
    list-style: none;
    float: left;
    margin: 0 $padding/2 $padding/2 0;
    a{
      font-size: .9em;
      border-radius: 5px;
      background-color: #A7A7A7;
      box-shadow: inset 0px 0px 11px 1px rgba(0, 0, 0, 0.05);
      color: white;
      display: inline-block;
      padding: 1px $padding/4;
      color: white;
      &.active,
      &:hover{
        box-shadow: none;
        background-color: darken(#A7A7A7, 10%);
      }
      span{
        padding-left: $padding/2;
        &:after{
          content: 'x';
        }
      }
    }
  }
}
