footer{
  height: 50px;
  margin-top: -50px;
  .center{
    ul{
      clear: none;
      float: left;
      &:after{
        clear: none;
      }
    }
    .copy{
      margin-top: 0;
      float: right;
    }
  }
}

//footer always on bottom
main{
  padding-bottom: 50px;
}
