footer{
  height: 80px;
  margin-top: -80px;
  border-top: 1px solid #F1F1F1;
  .center{
    font-size: 0.8em;
    .content{
      overflow: hidden;
    }
    ul{
      @extend .unstyled;
      @extend .cf;
      list-style: none;
      li{
        float: left;
        margin-right: 30px;
      }
    }
    .copy{
      margin-top: $padding/2;
    }
  }
}

//footer always on bottom
main{
  padding-bottom: 80px;
}
