footer{
  height: 93px;
  margin-top: -93px;
  border-top: 1px solid $border;
  .center{
    font-size: 0.8em;
    .content{
      overflow: hidden;
    }
    ul{
      @extend .unstyled;
      @extend .cf;
      list-style: none;
      li{
        float: left;
        margin-right: 30px;
      }
    }
    .copy{
      margin-top: 15px;
    }
  }
}

//footer always on bottom
main{
  padding-bottom: 93px;
}
