article{
  time,
  .read-time{
    margin-top: 8px;
  }
  .title{
    margin-top: 0;
    margin-bottom: 0;
    .tags{
      margin-top:0;
      display: inline-block;
      .tag{
        margin-bottom: 0;
        top: 3px;
        position: relative;
        margin-right: 0;
        margin-left: $padding/2;
        #page-post &{
          top: 4px;
        }
      }
    }
  }
}
