article{
  position: relative;
  img{
    margin-top: 7px;
    margin-bottom: $padding;
  }
  img.left{
    margin-right: $padding;
  }
  img.right{
    margin-left: $padding;
  }
  #page-post & {
    margin-top: $padding/2;
  }
  .title{
    margin-top: 0;
    margin-bottom: 0;
    .tags{
      margin-top: 5px;
      .tag a{
        font-size: 12px;
      }
    }
  }
  .tags .tag{
    float: left;
    margin-right: $padding/2;
  }
  time{
    color: $altColor;
    font-size: .8em;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: $padding/2;
  }
  .read-time{
    color: $altColor;
    font-size: .8em;
    display: block;
    margin: 5px $padding/2 $padding/2 0;
    display: inline-block;
    padding-left: $padding/2;
    &:before{
      content: '|';
      position: absolute;
      color: $altColor;
      margin-left: -$padding/2 - 4px;
    }
  }
  .content{
    font-size: .95em;
  }
  .tag{
    font-size: .8em;
  }
  > h1{
    font-size: 1.7em;
    margin-bottom: 0;
  }
}
.posts > *{
  margin-top: 0;
}
.posts article{
  margin-top: $padding * 2;
  &:first-child{
    margin-top: 0;
    &:after{
      display: none;
    }
  }
  &:after{
    content: ' ';
    display: block;
    position: absolute;
    top: -$padding;
    left: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid $border;
  }
  .content{
    p:first-child{
      margin-top: 0;
    }
    p:last-child{
      margin-bottom: 0
    }
    br:last-child{
      display: none;
    }
  }
  .more{
    font-size: .8em;
    color: $altColor;
    display: inline-block;
    margin-top: $padding/2;
    &:hover{
      opacity: 0.8;
    }
  }
}

.highlight pre{
  border: 1px solid $border;
  background-color: #FFF7F7;
  font-size: .9em;
  padding: 10px;
}

.pagination{
  margin-top: $padding;
  text-align: center;
  font-size: .9em;
  .numbers{
    text-align: center;
  }
  .prev{
    text-align: right;
  }
  .next{
    text-align: left;
  }
}

.author{
  margin-top: $padding * 2;
  padding: $padding;
  border: 1px solid $border;
  background-color: #FDFDFD;
  h3{
    margin-top: 0;
  }
  p{
    font-size: .8em;
    &:last-child{
      margin-bottom: 0;
    }
  }
  img{
    border-radius: 50%;
  }
  i{
    filter: grayscale(100%) contrast(120%);
    filter: gray;
    &:hover{
      filter: none;
    }
  }
}
