---
layout: default
---

<section id="page-category">

  {% include header.html %}

  <div class="center" data-content>
    <div class="row">
      <div class="col-xs-12 col-md-9 right posts">
        <h1 class="category-title">{{ page.title }}</h1>
        {% for post in site.categories[page.category] %}
          {% include post.html post=post preview=false %}
        {% endfor %}
      </div>

      <div class="col-xs-12 col-md-3 sidebar">
        {% include categories.html active=page.title %}
      </div>

    </div>
  </div>

</section>
