---
layout: default
---
<div id="page-post">
  <header>
    <div class="center">
      <a href="/" class="btn" data-trigger="back">Späť</a>
    </div>
  </header>

  <div class="center">

    <article>
      <h1 class="title">
        <span>{{ page.title }}</span>
        <ul class="tags">
          {% for category in page.categories %}
            <li class="tag">
              <a href="/{{site.category_dir}}/{{ category | slug }}/">{{ category }}</a>
            </li>
          {% endfor %}
        </ul>
      </h1>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {% include date.html date=page.date %}
      </time>
      <div class="read-time">
        Odhadovaný čas čítania: {{ content.size | readtime }}
      </div>
      <div class="content">
        {{ content }}
      </div>
    </article>

    <div class="comments">
      <button type="button" class="btn" data-trigger="comments">Otvoriť diskusiu</button>
      <div id="disqus_thread">
        <p></p>
      </div>
    </div>

  </div>
</div>
