---
layout: default
---
<section id="page-post">
  <header class="small">
    <div class="center">
      <nav>
        <ul>
          <li><a href="/" data-trigger="back">Späť</a></li>
          <li><a href="/archiv/">Archív</a></li>
          <li><a href="/autor/">Autor</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="center">

    <article>
      <h1 class="title">
        <span>{{ page.title }}</span>
        <ul class="tags">
          {% for category in page.categories %}
            <li class="tag">
              <a href="/{{site.category_dir}}/{{ category | slug }}/">{{ category }}</a>
            </li>
          {% endfor %}
        </ul>
      </h1>
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {% include date.html date=page.date %}
      </time>
      <div class="read-time">
        {{ content.size | readtime }} čítania
      </div>
      <div class="content">
        {{ content }}
      </div>
    </article>

    <div class="author">
      <div class="row no-spacing">
        <div class="col-xs-3 col-md-2">
          <img src="/img/me.png" alt="fotka">
        </div>
        <div class="col-xs-9 col-md-10">
          <h3>Daniel Husár</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non massa vestibulum, sagittis nisl at, mattis ligula. Duis eget arcu eu velit blandit condimentum. In pulvinar risus euismod lacus aliquet tincidunt. Cras sit amet vestibulum felis. Sed mattis posuere tempus.</p>
          <p>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" data-trigger="popup" title="facebook"><i class="icon icon-facebook"></i></a>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{site.url}}{{page.url}}" data-trigger="popup" title="twitter"><i class="icon icon-twitter"></i></a>
            <a href="http://www.linkedin.com/shareArticle?summary=&title={{ page.title }}&mini=true&url={{site.url}}{{page.url}}" data-trigger="popup" title="linkedin"><i class="icon icon-linkedin"></i></a>
          </p>
        </div>
      </div>
    </div>

    <div class="comments">
      <button type="button" class="btn" data-trigger="comments">Otvoriť diskusiu</button>
      <div id="disqus_thread">
        <p></p>
      </div>
    </div>

  </div>
</section>
