---
layout: default
---

<div class="center">
  <h2>{{ page.title }}</h2>

  <p class="meta">{{ page.date | date_to_string }}</p>

  <ul>
    {% for category in page.categories %}
      <li>
        <a href="/{{site.category_dir}}/{{ category | slug }}/">{{ category }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="post">
  {{ content }}
  </div>

  <div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      (function() {
        var disqus_identifier = '{{permalink}}';
        var dsq = document.createElement('script');
        dsq.async = true;
        dsq.src = '//danielhusar.disqus.com/embed.js';
        document.getElementsByTagName('head')[0].appendChild(dsq);
      })();
    </script>
  </div>
</div>
