header{
  .me{
    width: $smallBreakpoint - $padding;
    .name,
    .surname,
    .photo{
      width: 33.33%;
    }
    span{
      padding-top: 35px;
      font-size: 2.5em;
      transform: translate3d(165px, 0, 0);
    }
    div + div span{
      transform: translate3d(-165px, 0, 0);
    }
  }
  nav{
    width: $smallBreakpoint - $padding;
    margin: 55px auto 0 auto;
  }
  &.small nav{
    margin-left: 0;
  }
}
