header{
  .me{
    width: $smallBreakpoint - $padding;
    .icon{
      height: 150px;
    }
    span{
      font-size: 2.5em;
    }
  }
  nav{
    width: $smallBreakpoint - $padding;
    margin: 55px auto 0 auto;
  }
  &.small nav{
    margin-left: 0;
  }
}
