header{
  border-bottom: 1px solid $border;
  background: transparent url(/img/header.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  &.hero{
    height: 300px;
  }
  .me{
    text-align: center;
    width: 320px - $padding;
    margin: 10px auto 0;
    .name,
    .surname{
      width: 30%;
      float: left;
    }
    .photo{
      width: 40%;
      float: left;
    }
    .icon{
      border-radius: 50%;
      position: relative;
      z-index: 2;
      width: 100%;
    }
    span{
      padding-top: 30px;
      position: relative;
      z-index: 1;
      top: 10px;
      font-size: 1.5em;
      display: inline-block;
      color: white;
      opacity: 0;
      transition: transform 0.6s ease-out, opacity 0.6s ease-out;
      transform: translate3d(150px, 0, 0);
      .page-loaded &,
      .no-js &{
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
    div + div span{
      padding-right: 0;
      transform: translate3d(-150px, 0, 0);
      .page-loaded &,
      .no-js &{
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
  nav{
    text-align: left;
    margin-top: 80px;
    border-top: 1px solid white;
    border-top: 1px solid rgba(255,255,255, 0.5);
    @extend .cf;
    ul{
      @extend .unstyled;
      list-style: none;
      li{
        float: left;
        text-transform: uppercase;
        font-size: .75em;
        font-weight: 700;
        width: 33.33%;
        a{
          border-top: 1px solid transparent;
          color: white;
          color: rgba(255,255,255, 0.5);
          margin-top: -1px;
          padding: $padding / 2 0 $padding / 4 0;
          display: block;
          text-align: center;
          &.active,
          &:hover{
            border-top: 1px solid rgba(255,255,255, 0.9);
            color: rgba(255,255,255, 0.9);
          }
        }
      }
    }
  }
  &.small nav{
    margin-top: 0;
  }
  &.small .center{
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

header + .center{
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  .no-js &,
  .page-loaded &{
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    opacity: 1;
  }
}
