$icon-me-x : 0px;
$icon-me-y : 0px;
$icon-me-width : 150px;
$icon-me-height : 150px;
$icon-me-image : '/img/icons.png';

.icon-me {
  background-image: url(/img/icons.png);
  background-position: 0px 0px;
  width: 150px;;
  height: 150px;
}
