//cross browser gradient
@mixin gradient($start, $end){
  background-color: $end;
  @include background-image(linear-gradient($start, $end));
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#{$start}", endColorStr="#{$end}");
}

//hardware accelerated transitions
@mixin transformHW($prop: ""){
  @include transform(#{$prop} translate3d(0,0,0));
}

 //skew
@mixin skew($prop){
  @include transformHW(skew($prop));
}

//scale
@mixin scale($prop){
  @include transformHW(scale($prop));
}

//rotate
@mixin rotate($prop){
  @include transformHW(rotate($prop));
}

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

//grid mixins
$one_col: 100% / $cols;
@mixin cols($num) {
  width: ($one_col * $num);
  float: left;
}

//css triangle mixin
@mixin triangle($dir, $size, $color) {
  border: $size transparent solid;

  @if ($dir == "top" or $dir == "up") {
    border-bottom-color: $color;
  }
  @else if ($dir == "right" or $dir == "after") {
    border-left-color: $color;
  }
  @else if ($dir == "bottom" or $dir == "down") {
    border-top-color: $color;
  }
  @else if ($dir == "left" or $dir == "before") {
    border-right-color: $color;
  }
}
