//grid
$padding: 20px;
$cols: 12;

//responsive breaks
$largeBreakpoint: 1000px;
$mediumBreakpoint: 768px;
$smallBreakpoint: 480px;

//typography
$font: 'Lato', sans-serif;
$color: #333;
$altColor: #7E7E7E;
