//grid
$padding: 20px;
$cols: 12;
$gutter: 0;
$font: Arial;

//responsive breaks - if you change this, dont forget to cahnge also js variabiles inside global.js so javascript will know what version it is
$largeBreakpoint: 1140px;
$mediumBreakpoint: 768px;
$smallBreakpoint: 480px;
